<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yasser.cosalco" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cosalco</name>
    <description>
    	Aplicación para registro online de sorteo.
    </description>
    <author email="yasser.mussa@gmail.com" href="https://www.linkedin.com/in/yasser-jamal-mussa">
        Yasser Mussa
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
<gap:plugin name="com.phonegap.plugins.facebookconnect" version="<VERSION>">
    <param name="APP_ID" value="707821006054644" />
    <param name="APP_NAME" value="COSALCO" />
</gap:plugin>
